@font-face {
	font-family: 'googleoauth2-icomoon';
	src:url('fonts/googleoauth2-icomoon.eot.eot?mmc5kc');
	src:url('fonts/googleoauth2-icomoon.eot?mmc5kc#iefix') format('embedded-opentype'),
		url('fonts/googleoauth2-icomoon.ttf?mmc5kc') format('truetype'),
		url('fonts/googleoauth2-icomoon.woff?mmc5kc') format('woff'),
		url('fonts/googleoauth2-icomoon.svg?mmc5kc#googleoauth2-icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.social-button::before {
    background-color: rgba(0, 0, 0, 0.15);
    margin: -7px 10px -7px -7px; 
    padding: 7px;
    text-indent: 0;
    vertical-align: bottom;
    font-size: 22px;
    position: relative;
    top: 0;
    display: inline-block;
    font-family: "googleoauth2-icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    min-width: 24px;
    line-height: 1;
    text-align: center;
    content: "\eae9";
}
.dir-rtl .social-button::before {
    margin: -7px -7px -7px 10px;
}
.social-button {
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */ /* Redundant?, as it is overrided later on the following lines */
    background: #ccc;
    display: inline-block;
    text-align: left;
    min-width: 195px;
    color: #fff;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    transition: background-color 0.15s;
}
.dir-rtl .social-button {
    text-align:right;
}
.social-button.google::before {
	content: "\ea88";
}
.social-button.google {
    background-color: #dc4e41;
}
.social-button.google:hover {
    background-color: #c23321;
}
.social-button.dropbox::before {
	content: "\eaae";
}
.social-button.dropbox {
    background-color: #1087dd;
}
.social-button.dropbox:hover {
    background-color: #0d6aad;
}
.social-button.facebook::before {
	content: "\ea90";
}
.social-button.facebook {
    background-color: #3b5998;
}
.social-button.facebook:hover {
    background-color: #2d4373;
}
.social-button.github::before {
	content: "\eab0";
}
.social-button.github {
    background-color: #555;
}
.social-button.github:hover {
    background-color: #2b2b2b;
}
.social-button.linkedin::before {
	content: "\eac9";
}
.social-button.linkedin {
    background-color: #007bb6;
}
.social-button.linkedin:hover {
    background-color: #005983;
}
.social-button.microsoft::before {
	content: "\eaaf";
}
.social-button.microsoft {
    background-color: #2672ec;
}
.social-button.microsoft:hover {
    background-color: #125acd;
}
.social-button.vkontakte::before {
	content: "\ea98";
}
.social-button.vkontakte {
    background-color: #507299;
}
.social-button.vkontakte:hover {
    background-color: #446693;
}
.providerlinks {
    margin: 15px 0px 7px 0px; 
    -webkit-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
    margin-left: auto;
    margin-right: auto;
}
.providerlinks-vertical {
    max-width: 245px;
}
.providerlinks-horizontal {
    max-width: 100%;
}
.providerlinkstext {
    text-align: center;
    margin: 7px 0px 7px 0px; 
}
